<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day10 Home Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.hsbc.tr.web.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/displayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreetingHttpServlet</display-name>
    <servlet-name>GreetingHttpServlet</servlet-name>
    <servlet-class>com.hsbc.tr.web1.GreetingHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetingHttpServlet</servlet-name>
    <url-pattern>/greeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFromHttpServlet</display-name>
    <servlet-name>ReadFromHttpServlet</servlet-name>
    <servlet-class>com.hsbc.tr.web3.ReadFromHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFromHttpServlet</servlet-name>
    <url-pattern>/submission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TryHttpServlet</display-name>
    <servlet-name>TryHttpServlet</servlet-name>
    <servlet-class>com.hsbc.tr.web4.TryHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryHttpServlet</servlet-name>
    <url-pattern>/TryHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculation</display-name>
    <servlet-name>Calculation</servlet-name>
    <servlet-class>com.hsbc.tr.web5.Calculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculation</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
</web-app>