<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>com.hsbc.tr.ques1.GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletDemo</display-name>
    <servlet-name>HttpServletDemo</servlet-name>
    <servlet-class>com.hsbc.tr.ques2.HttpServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletDemo</servlet-name>
    <url-pattern>/HttpServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.hsbc.tr.ques4.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServletUsingPrintln</display-name>
    <servlet-name>FormServletUsingPrintln</servlet-name>
    <servlet-class>com.hsbc.tr.ques5.FormServletUsingPrintln</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServletUsingPrintln</servlet-name>
    <url-pattern>/FormServletUsingPrintln</url-pattern>
  </servlet-mapping>
</web-app>