<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HomeDay11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebInputDemo</display-name>
    <servlet-name>WebInputDemo</servlet-name>
    <servlet-class>com.hsbc.tr.q1.WebInputDemo</servlet-class>
    <init-param>
      <param-name>Username</param-name>
      <param-value>Megha123</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>megha123</param-value>
    </init-param>
    <init-param>
      <param-name>JdbCurl</param-name>
      <param-value>com.apache.org.Derby</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebInputDemo</servlet-name>
    <url-pattern>/input1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>com.hsbc.tr.q2.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S2</display-name>
    <servlet-name>S2</servlet-name>
    <servlet-class>com.hsbc.tr.q2.S2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S3</display-name>
    <servlet-name>S3</servlet-name>
    <servlet-class>com.hsbc.tr.q2.S3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/s3</url-pattern>
  </servlet-mapping>
</web-app>